@use "../../styles/variables" as v;

.charts {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__section {
    text-align: center;

    @media (min-width: v.$breakpoint-tablet) {
      text-align: left;
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      color: v.$color-dark-gray;
      margin-bottom: 8px;
    }

    &-description {
      font-size: 14px;
      color: v.$color-medium-gray;
      margin-bottom: 24px;
    }
  }
}
