@use "../../styles/variables" as v;

.filters {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;

  @media (min-width: v.$breakpoint-mobile) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  &__search {
    width: 100%;
    position: relative;

    @media (min-width: v.$breakpoint-mobile) {
      width: auto;
      flex: 1;
    }

    .search-icon {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: v.$color-medium-gray;
      font-size: 14px;
      pointer-events: none;
    }

    .clear-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: v.$color-medium-gray;
      font-size: 14px;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: v.$color-primary;
      }
    }

    .search-field {
      width: 100%;
      padding: 12px 35px 12px;
      border: 1px solid v.$color-light-gray;
      border-radius: v.$border-radius;
      font-size: 14px;
      color: v.$color-dark-gray;
      transition: all 0.2s ease;

      &::placeholder {
        color: v.$color-medium-gray;
      }
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
        display: none;
      }

      &:focus {
        outline: none;
        border-color: v.$color-primary;
        box-shadow: 0 0 2px 2px rgba(v.$color-primary, 0.1);
      }
    }
  }

  &__dropdowns {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    @media (min-width: v.$breakpoint-mobile) {
      gap: 12px;
    }
  }
}

.filter-select-field {
  padding: 12px;
  border: 1px solid v.$color-light-gray;
  border-radius: v.$border-radius;
  color: v.$color-dark-gray;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 100px;

  &:hover {
    border-color: v.$color-primary;
    background-color: rgba(v.$color-primary, 0.05);
  }

  &:focus {
    outline: none;
    border-color: v.$color-primary;
    box-shadow: 0 0 2px 2px rgba(v.$color-primary, 0.1);
  }

  &.active {
    border-color: v.$color-primary;
    background-color: rgba(v.$color-primary, 0.05);
    color: v.$color-primary;
  }

  @media (min-width: v.$breakpoint-mobile) {
    min-width: 120px;
  }
}

// using the new CSS Customizable Select Features if supported and fallback to the normal select if not
// meant for accessibility and better styling control
.filter-select-field {
  appearance: base-select;

  &::picker(select) {
    appearance: base-select;
  }

  &::picker-icon {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z'/%3E%3C/svg%3E")
      no-repeat center;
    background-size: 20px;
    width: 20px;
    transition: rotate 0.4s;
  }

  &:open {
    &::picker-icon {
      rotate: 180deg;
    }
  }

  &::picker(select) {
    border: 1px solid v.$color-primary;
    border-radius: v.$border-radius;
    margin-top: 6px;
  }

  option {
    padding: 8px 10px;
    color: v.$color-dark-gray;

    &:not(:last-child) {
      border-bottom: 1px solid v.$color-light-gray;
    }

    &:hover {
      background-color: rgba(v.$color-primary, 0.1);
    }

    &:checked {
      background-color: rgb(v.$color-primary, 0.9);
      color: v.$color-white;
    }
  }
}
